@model IronCore.Models.ContactViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Удалить контакт";
}

<h2>Удалить контакт</h2>
<div class="alert alert-danger">Вы уверены, что хотите удалить контакт <b>@Model.Name</b>?</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a href="@Url.Action("Contacts")" class="btn btn-secondary">Отмена</a>
}