@model IronCore.Models.CoachViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Удалить тренера";
}

<h2>Удалить тренера "@Model.FullName"?</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a href="@Url.Action("Index", "Admin")" class="btn btn-secondary">Отмена</a>
}
